{{ form_start(mediagallerysearchform, { 'attr' : { 'class': 'form-search' } })  }}
    {{ form_widget(mediagallerysearchform) }}
    <button class="btn btn-danger mr-button"><i class="entypo-plus"></i>{{ button_label|default('Search') |trans }}</button>
{{ form_end(mediasearchform) }}
