{% extends '@AdsignFileManager/base.html.twig' %}

{% block title %}New Gallery{% endblock %}

{% block body %}
    <h1>Create new Gallery</h1>

    {{ include('@AdsignFileManager/gallery/_form.html.twig') }}

    <a href="{{ path('file_manager_gallery_index') }}">back to list</a>
{% endblock %}
